/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {

}
@media (max-width: 1680px) {

}
@media (max-width: 1600px) {

}
@media (max-width: 1440px) {
    .product-container .product-pic-container img {
        max-width: 195px;
    }
    .product-section h2 {
        font-weight: 900;
        font-size: 3.8rem;
        color: #e2e2e2;
    }
    .product-detail p {
        font-size: 18px;
    }
    .product-second-detail p {
        font-size: 18px;
    }
    .product-detail .img-product-icon {
        top: 14%;
        max-width: 110px;
    }
    .product-second-detail p {
        margin-left: 29%;
        max-width: 45%;
    }
    .product-detail p {
        max-width: 65%;
        padding-right: 22%;
    }
    .contact-container {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .contact-text {
        line-height: 35px;
        font-size: 1.7rem;
    }
    .item-slider div p {
        bottom: -9vh;
        right: -18%;
    }
}
@media (max-width: 1366px) {
    .product-second-detail p {
        margin-left: 30%;
    }
    .product-detail .img-product-icon {
        top: 16%;
    }
    .about-section h2 {
        font-size: 2.3rem;
    }
    .contact-content div {
        font-size: 20px;
        line-height: 40px;
    }
    .about-section {
        font-size: 18px;
        line-height: 30px;
    }
}
@media (max-width: 1280px) {
    .product-section h2 {
        font-size: 3.8rem;
    }
    .product-second-detail p {
        margin-left: 35%;
        max-width: 50%;
    }
}
@media (max-width: 1170px) {
    .about-section h2 {
        font-size: 1.8rem;
        line-height: 30px;
    }
    .about-section {
        font-size: 16px;
        line-height: 25px;
    }
    .about-section h2:before {
        top: 10px;
    }
    .product-container .product-pic-container img {
        max-width: 180px;
    }
    .product-section h2 {
        font-size: 2.9rem;
    }
    .footer-container h5 {
        font-size: 15px;
    }
    .item-slider div p {
        bottom: -12vh;
        right: -15%;
    }
    .product-detail p {
        max-width: 75%;
        padding-right: 22%;
        font-size: 15px;
    }
    .product-second-detail p:before {
        width: 60px !important;
        height: 75px !important;
        padding-left: 0px;
        left: -75px;
    }
    .product-detail .img-product-icon {
        max-width: 90px;
    }
    .product-second-detail p {
        margin-left: 40%;
        max-width: 55%;
        font-size: 15px;
        min-height: 75px;
    }
    .contact-text {
        line-height: 25px;
        font-size: 1.2rem;
    }
    .contact-shortcode-container h3 {
        font-size: .8rem;
        line-height: 25px;
        margin-bottom: 15px;
    }
    .contact-content {
        font-size: 15px;
        line-height: 15px;
    }
    .contact-content div {
        font-size: 20px;
        line-height: 35px;
    }
    .contact-shortcode-container .custom-form-control {
        font-size: .8rem;
    }
    .the-header .navbar ul li a {
        font-size: .8rem;
        margin-left: 18px;
    }
    .the-header .navbar ul li a:before {
        left: -15px;
        top: 3px;
        font-size: 1.1rem;
    }
}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
}

@media (max-width: 1024px) and (max-height: 1440px) {
    .the-header .img-logo {
        max-height: 40px;
    }
    .first-screen {
        background-position: -200px 80px;
    }
}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .first-screen {
        display: flex;
        align-items: center;
    }
    .hero-section img {
        max-width: 260px;
        float: right;
    }
    .page-about {
        min-height: auto !important;
        padding: 50px 0;
    }
    .page-product {
        padding: 0 !important;
        min-height: auto;
    }
    .product-section {
        min-height: 60vh;
    }
    .product-slider {
        min-height: auto;
    }
    .product-container .product-pic-container {
        bottom: unset;
        top: 15vh;
        right: unset;
        left: unset;
        height: 40vh;
        justify-content: flex-end;
        padding-right: 20px;
    }
    .product-title {
        justify-content: left;
        padding-left: 40px;
    }
    .product-slider-container {
        height: auto;
    }
    .product-slider-container .owl-item img {
        width: 100% !important;
        height: auto !important;
    }
    .product-second-detail {
        display: none;
    }
    .page-product-second .product-pic-container {
        display: none;
    }
    .product-detail .img-product-icon {
        max-width: 90px;
        display: none;
    }
    .product-detail p {
        max-width: 100%;
        padding-right: unset;
        font-size: 15px;
    }
    .product-detail-hidden {
        display: block;
    }
    .product-detail {
        display: block;
        padding: 45px;
        min-height: unset;
    }
    .product-detail-1 p {
        font-size: 15px;
        text-align: left;
    }
    .contact-text {
        line-height: 25px;
        font-size: 1.2rem;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .contact-shortcode-container {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .contact-content {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .page-contacto {
        padding: 45px 0;
        min-height: auto;
    }
    .contact-content {
        font-size: 15px;
        line-height: 15px;
        margin-top: 30px;
    }
    .footer-inner {
        display: none;
    }
    .navbar-brand {
        margin-right: 0;
    }
}
@media (max-width: 800px) {

}
@media (max-width: 768px) {

}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .blog-container {
        padding-top: 70px;
        min-height: auto;
    }
    .month-sidebar ul {
        list-style: none;
        margin-top: 30px;
    }
    .posts-container-slider {
        margin-left: 15px;
    }
    .posts-container-slider .owl-prev {
        left: -10%;
    }
    .posts-container-slider .owl-next {
        right: -3%;
    }
}
@media (max-width: 533px) {
    .hero-section img {
        max-width: 200px;
    }
    .about-section {
        margin-left: 20px;
        max-width: 90%;
    }
    .product-container .product-pic-container img {
        max-width: 125px;
    }
}
@media (max-width: 414px) {

}
@media (max-width: 375px) {

}
@media (max-width: 360px) {

}
@media (max-width: 320px) {

}
@media (max-width: 240px) {

}
