/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@graylink: #9D9CA1;
@graylight: #A6A4AA;
@darkgray: #434041;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;
@blog: #00A2A8;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}

@import 'less/font-caller.less';

.generate-columns(7);

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .delay-@{i} {
        -webkit-animation-duration: (@i) + 0s;
        animation-duration: (@i) + 0s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: (@i / 3) + 0s;
        -webkit-animation-delay: (@i / 3) + 0s;
    }
    .generate-columns(@n, (@i + 1));

}

#loader {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.sk-wave {
    margin: 0px auto;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 10px;
}
.sk-wave .sk-rect {
    background-color: @white;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
.sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s; margin-right: 3px; }
.sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); } }
@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4);
        transform: scaleY(0.4); }
    20% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1); } }


/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    background: #EDEEF0;
    font-family: 'Gotham', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.the-header {
    background: @darkgray;
    color: @white;
    padding: 10px;

    & .img-logo {
        max-height: 60px;
        .transition(all .2s ease-in-out);

        &:hover {
            opacity: (.5);
        }
    }

    & .navbar {
        background: none transparent;
        padding: 10px 30px;

        & ul {
            & li {
                & a {
                    text-transform: uppercase;
                    font-weight: 400;
                    color: @graylink !important;
                    margin-left: 25px;
                    position: relative;

                    &:before {
                        .transition(all .3s ease-in-out);
                        content: ': :';
                        position: absolute;
                        left: -17px;
                        top: 4px;
                        font-size: 19px;
                        opacity: 0;
                    }

                    &:hover {
                        color: @white !important;
                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
            & .active {
                & a {
                    color: @white !important;
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        & .dropdown-menu {
            background: #4a4748;
            border: 0;
            border-radius: 0;

            & .dropdown-item {
                border-top: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    background-color: transparent;
                    border-top: 1px solid #FFF;
                    border-bottom: 1px solid #FFF;
                }
            }



            & a {
                text-transform: uppercase;
                font-weight: 400;
                color: @graylink !important;
                margin-left: 0;
                position: relative;
                &:before {
                    display: none;
                }
            }
        }
    }
}

.section {
    min-height: 100vh;
}


.first-screen {
    position: relative;
    overflow: hidden;
    background: url(../images/bg-about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center 80px;
    &:after {
        content: ' ';
        background: url(../images/about-line.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 24px;
        position: absolute;
        bottom: -8px;
        right: 0;
    }
}

.about-section {
    border-left: 1px solid #dedede;
    padding: 10px 30px;
    padding-right: 6%;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: @graylight;

    &  h2 {
        font-size: 2.8rem;
        font-weight: 900;
        color: @graylight;
        line-height: 42px;
        text-transform: lowercase;
        position: relative;
        margin-bottom: 20px;

        &:before {
            position: absolute;
            content: ' ';
            border-radius: 100%;
            top: 18px;
            left: -38px;
            width: 15px;
            height: 15px;
        }
    }

    & strong {
        color: #00A476;
    }
}

.page-about {
    & .about-section:nth-child(1) h2 {
        &:before {
            background: #DF315F;
        }
    }
    & .about-section:nth-child(2) h2 {
        &:before {
            background: #6F2C7F;
        }
    }
    & .about-section:nth-child(3) h2 {
        &:before {
            background: #00A1A7;
        }
    }
}

.page-product {
    padding: 0 !important;
}

.product-container {
    position: relative;

    & .product-pic-container {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            max-width: 270px;
        }
    }
}

.product-section {
    text-align: center;
    color: #e2e2e2;
    position: relative;
    padding: 0;
    min-height: 100vh;
    background-size: cover !important;

    & h2 {
        font-weight: 900;
        font-size: 5.5rem;
        color: #e2e2e2;
    }
}

.product-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section-slogan {
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    font-size: 18px;
}

.product-slider-container {
    height: 100vh;

    &  .owl-item img {
        width: auto !important;
        height: 100vh !important;
    }

}

.product-detail {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
        display: block;
        margin-left: auto;
        margin-right: 0;
        max-width: 55%;
        text-align: right;
        font-size: 20px;
        padding-right: 22%;
        padding-bottom: 20px;
    }

    & .img-product-icon {
        position: absolute;
        top: 10%;
        left: 30px;
        max-width: 160px;
    }
}

.product-second-detail {
    display: flex;
    justify-content: center;
    align-items: center;

    blockquote {
        margin-bottom: 0 !important;
    }

    & p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin-left: 18%;
        max-width: 40%;
        font-size: 20px;
        min-height: 90px;
        vertical-align: middle;
        position: relative;
        border-left: 1px solid #ffffff;
        padding-left: 15px;

        &:before {
            content: ' ';
            background-size: contain !important;
            background-position: center left !important;
            background-repeat: no-repeat !important;
            width: 70px !important;
            height: 90px !important;
            padding-left: 10px;
            position: absolute;
            top: 0;
            left: -80px;
        }

        &:nth-child(1) {
            &:before {
                background: url(../images/detail-icon1.png);
            }
        }
        &:nth-child(2) {
            &:before {
                background: url(../images/detail-icon2.png);
            }
        }
        &:nth-child(3) {
            &:before {
                background: url(../images/detail-icon3.png);
            }
        }
        &:nth-child(4) {
            &:before {
                background: url(../images/detail-icon4.png);
            }
        }
    }
}

.page-contacto {
    background: #6F2C7F;
    color: @white;
}

.contact-text {
    text-align: right;
    font-weight: 900;
    line-height: 40px;
    font-size: 2.2rem;
    color: #b7b7b7;
}


.contact-shortcode-container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    color: @white;

    & h3 {
        font-size: 1.3rem;
        line-height: 30px;
        margin-bottom: 20px;
    }

    & .custom-form-control {
        background: none transparent;
        border: 1px solid @white;
        border-radius: 0;
        .placeholder(#FFF) !important;
    }

    & .wpcf7-submit {
        background: #F9C300;
        padding: 12px;
        color: #6F2C7F;
        width: 100%;
        display: block;
        text-transform: uppercase;
        border: 0;
    }
}


.contact-content {
    font-size: 18px;
    line-height: 16px;

    & hr {
        border-top: 1px solid @white;
    }

    & div {
        font-size: 23px;
        line-height: 40px;

        & .fa {
            padding-right: 10px;
        }
    }
}

.footer-container {
    background: #3C3A3C;
    color: @white;
    padding: 40px 60px;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        bottom: 30px;
        left: 15px;
        height: 2px;
        width: 50px;
        border-bottom: 2px solid #ffffff;
    }
    & img {
        margin-bottom: 20px;
    }

    & h5 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
        margin-top: 0;
    }

}

.footer-copy {
    background: #58575A;
    padding: 15px 60px;
}

.footer-icons {
    text-align: right;

    & img {
        max-width: 40px;
        padding-right: 10px;
        .filter(grayscale(100) invert(1));
        &:last-child {
            .filter(grayscale(100) invert(0));
        }
    }
}

.product-detail-hidden {
    display: none;
}

.item-slider {
    & div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        min-height: 100vh;
        background-size: cover !important;

        & h2 {
            position: relative;
        }

        & p {
            max-width: 200px;
            align-self: center;
            position: absolute;
            bottom: -8vh;
            right: -15%;
            font-size: 18px;
            font-weight: 300;
            text-align: left;
        }
    }
}

.blog {
    background: @blog;
    color: @white;
}

.blog-container {
    padding-top: 140px;
    min-height: 100vh;
}

.month-sidebar {
    min-height: 90vh;

    & h1 {
        font-size: 4rem;
        font-weight: 600;
        text-transform: lowercase;
        color: #CDD002;
        letter-spacing: -5px;
    }


    & ul {
        list-style: none;
        margin-top: 10vh;

        & li {
            & a {
                color: @white;
                display: block;
                margin: 5px 0;
                cursor: pointer;
                font-size: 1rem;
                line-height: 20px;
                text-transform: lowercase;
            }
            & .active {
                font-weight: 900;
                font-size: 1.5rem !important;
                margin: 10px 0 !important;
            }
        }
    }

}

.post-ajax-container {
    margin: 20px 0;

    & h1 {
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: -3px;
        max-width: 400px;
        margin-bottom: 30px;
    }
}

.posts-container-slider {
    & .owl-prev {
        position: absolute;
        top: -25%;
        left: -10%;
        font-size: 8rem !important;
        font-weight: 100 !important;
        color: #ababab !important;
    }
    & .owl-next {
        position: absolute;
        top: -25%;
        right: 1%;
        font-size: 8rem !important;
        font-weight: 100 !important;
        color: #ababab !important;
    }
}

.archive-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 130px;
    max-width: 130px;
    text-align: center;
    border-radius: 10px;
    background-size: cover !important;
    margin-bottom: 20px;
    cursor: pointer;
    .transition(all .1s ease-in-out);

    &:hover {
        min-height: 170px;
        max-width: 170px;
    }


    & h2 {
        font-size: 1.3rem;
        font-weight: 900;
    }

    & a {
        color: @white;
    }
}

.activo {
    min-height: 170px;
    max-width: 170px;
}

.the-footer {
    width: 100%;
}
