@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src: local('Gotham Thin'), url('../fonts/gotham-thin.woff') format('woff');
}
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Book'), url('../fonts/gotham-book.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Medium'), url('../fonts/gotham-medium.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 600;
    src: local('Gotham Bold'), url('../fonts/gotham-bold.woff') format('woff');
}

@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 900;
    src: local('Gotham Black'), url('../fonts/gotham-black.woff') format('woff');
}

